performative.txt
# track only the processed channels csv
data/*
!data/processed/
data/processed/*
!data/processed/channels_pp.csv

src/data/consts/*
mlruns/
mlflow.db
artifacts/
__pycache__/
*.pyc

#env variables
.env

#venv
.venv

#notebooks
notebooks

#logs
logs/